/*Importing Google Font - Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

*{
  font-family: "Inter" , sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* background-color: black; */

body{
    min-height: 100vh;
    background: linear-gradient(#EEEEFF,#7470f1);
}

